@model RacingWeb.Models.EngineView

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/Styles/PopUp.css">
</head>
<body>
    @using (Html.BeginForm("delete", "engine", FormMethod.Post, new { id = "popupForm" }))
    {
        @Html.AntiForgeryToken()
        <h3>Are you sure you want to delete this engine?</h3>
        <div>
            <hr />
            @Html.HiddenFor(a => a.Id)
            <dl class="dl-horizontal labelText">
                <dt>
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.HP, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HP)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Turbine, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Turbine)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Manufacurer, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manufacurer)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>

            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</body>