@model IEnumerable<RacingWeb.Models.RacingCarView>

@{
    ViewBag.Title = "Index";
}

<h2>Racing car manager</h2>

<p>
    <a href="@Url.Action("Create", "RacingCar")" class="btn btn-primary">Create new racing car</a>
</p>
<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brake.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Engine.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suspention.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brake.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suspention.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
