
@model IList<RacingWeb.Models.SimpleCarView>

@{
    ViewBag.Title = "Index";
}

<h2>Race: Car Selector</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th></th>
        </tr>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => modelItem[i].Id)
                    @Html.HiddenFor(modelItem => modelItem[i].Name)
                    @Html.CheckBoxFor(modelItem => modelItem[i].IsSelected, new { @class = "custom-checkbox" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Name)
                </td>
            </tr>
        }

    </table>
    <input type="submit" class="btn btn-outline-primary rounded-0" value="Submit" />
}
